#include <windows.h>
#include "LuHTTPd.h"
#include "Resource.h"


IDI_MAIN	ICON	DISCARDABLE	"Resource/Main.ico"
IDI_TRAY	ICON	DISCARDABLE	"Resource/Tray.ico"

IDB_SPLASH	BITMAP	DISCARDABLE	"Resource/Splash.bmp"

IDTEXT_HTTP_BADREQUEST		TEXT	DISCARDABLE	"Resource/400_Bad_Request.html"
IDTEXT_HTTP_NOTFOUND		TEXT	DISCARDABLE	"Resource/404_Not_Found.html"
IDTEXT_HTTP_INTERNALSERVERERROR	TEXT	DISCARDABLE	"Resource/500_Internal_Server_Error.html"
IDTEXT_HTTP_NOTIMPLEMENTED	TEXT	DISCARDABLE	"Resource/501_Not_Implemented.html"

IDM_MAIN	MENU	DISCARDABLE
{
	POPUP ""
	{
		MENUITEM "ルートフォルダを開く",	IDM_OPENWWWROOT
		MENUITEM "ログファイルを開く",	IDM_OPENLOG
		MENUITEM SEPARATOR
		MENUITEM "About(&A)...",	IDM_ABOUT
		MENUITEM "終了(&X)",	IDM_EXIT
	}
}

IDD_ABOUT	DIALOG	DISCARDABLE	0, 0, 170, 48
STYLE	DS_MODALFRAME | WS_POPUP | WS_CAPTION | DS_SYSMODAL
CAPTION	ABOUTDLG_CAPTION
FONT	9, "MS UI Gothic"
{
	DEFPUSHBUTTON	"閉じる", IDOK, 115, 7, 50, 14
	PUSHBUTTON	"readme.txtを開く", IDC_OPENREADME, 100, 25, 65, 14
	ICON		"IDI_MAIN", IDC_STATIC, 5, 5, 0, 0
	LTEXT		APPNAME, IDC_STATIC, 30, 10, 28, 8
	LTEXT		APPVER, IDC_STATIC, 50, 20, 38, 8
	LTEXT		"copyright: 流", IDC_STATIC, 50, 30, 38, 8
}
